name: Integration

on:
  push:
    branches: [main]
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - 'Taskfile.yml'
  pull_request:
    branches: [main]
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - 'Taskfile.yml'

permissions:
  contents: read

jobs:
  integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: '1.26'
      - uses: arduino/setup-task@v2
        with:
          version: '3.x'
      - run: task test-integration
        name: Integration tests
      - run: task test-e2e
        name: E2E tests
